@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components{
    .activeNav{
        @apply  opacity-100
                after:content-[''] after:bg-slate-50 after:w-[105%] after:h-[2px]
                after:block after:bottom-[-2px] after:left-[-2px] after:relative
    }
    .desableNav{
        @apply  after:transform after:duration-300
                after:content-[''] after:bg-slate-50 after:w-0 after:h-[2px]
                after:block after:bottom-[-2px] after:left-[-2px] 
                after:relative hover:after:w-[105%]
    }
}